.promo__title {
  margin: 0;
  max-width: 640px;
  font-size: 50px;
  font-weight: 400;
  color: white;
  line-height: 1.16;
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .promo__title {
    font-size: 30px;
    max-width: 300px;
  }
}