.search-form__button {
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #2BE080;
  background-image: url(../../../images/search-white.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}