.search-form__input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0;
  color: #A0A0A0;
  font-size: 28px;
}

.search-form__input:focus {
  outline: none;
  border-bottom: 1px solid #2BE080;
}

@media screen and (max-width: 320px) {
  .search-form__input {
    text-align: left;
    font-size: 18px;
  }
}