.header__burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    top: 5px;
    left: 0px;
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
}