.header__register {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__register {
    font-size: 10px;
  }
}