.footer__item {
  list-style: none;
  margin-right: 20px;
}

.footer__item:last-of-type {
  margin-right: 0;
}


@media screen and (max-width: 576px) {
  .footer__item {
    margin: 0;
    margin-bottom: 12px;
  }

  .footer__item:last-of-type {
    margin: 0;
  }
}