.about-me__card-text {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 0 100px;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .about-me__card-text {
    font-size: 12px;
    margin-right: 29px;
  }
}

@media screen and (max-width: 576px) {
  .about-me__card-text {
    margin: 0;
    margin-bottom: 40px;
    width: 100%;
    font-size: 11px;
  }
}