.about-project__duration {
  width: 100%;
  display: grid;
  grid-template-columns: 20% auto;
  gap: 0;
}

@media screen and (max-width: 768px) {
  .about-project__duration {
    grid-template-columns: 30% auto;
  }
}

@media screen and (max-width: 320px) {
  .about-project__duration {
    grid-template-columns: 40% auto;
  }
}
